*{
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden
}
.first_div ,.second_div ,.third_div
{
    height: 625px
}
.first_div
{
    background: #feb41d
}
.second_div
{
    background: #5e7c87
}
.third_div
{
    background: #4c5f6d
}
button
{
    width: 200px;
/*
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 300px;
    margin-left: 100px;
*/
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0);
    border: 1px solid #aaa;
}
.button
{
    width: 25%;
    margin: auto;
    margin-top: 300px
}
.btn
{
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0);
    border: 1px solid #aaa ;
    animation: skew 1s infinite;
    transform: skew;
    animation-direction:alternate;
}
@keyframes skew {
  0% {
    transform: skewY(13deg);
  }
  100% {
    transform: skewY(-13deg);
  }

.row
{
    margin: 0
}